/** Theme **/

body {
  background-color: #85BDBF;
  margin: 0;
  -webkit-print-color-adjust: exact !important;
}



.theme {
  font-family: sans-serif;
}

.theme a {
  text-decoration: none;
}


.theme > header {
  width: 100%;
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme > header img {
  max-width: 100%;
  padding: 12px 0;
}

@media print {

  body {
    font-size: smaller; /* changing to 10pt has no impact */
  }

  .theme > header {
    /*display: none;*/
  }
}

/** Content **/



.theme > div.content {
  /*max-width: 1200px;*/
  margin: auto;
}


.theme > div.content > div.page-name {

}



.theme > div.content > section {
  /*padding: 1em;*/
}

/** Content Columns **/

.theme > div.content.columns {
  display: flex;
  flex-wrap: wrap;
  /*max-height: 100vh;*/
  max-width: 1600px;

}
.theme > div.content.columns div.section-container {
  display: inline;
}

.theme > div.content.columns > * {
  max-width: 48%;
  padding: 1%;
  margin: 0;
  flex: 1 1 48%;
  flex-basis: 40%;
  align-items: center;
}

.theme .print-break {
  /*clear: both;*/
  /*height: 180px;*/
  page-break-after: avoid;
}


@media only screen and (max-width: 1000px) {
  .theme > div.content.columns {
    display: block;
    max-height: inherit;
  }

  .theme > div.content.columns > * {
    max-width: 100%;
  }
}


.theme > div.content.columns  section.break {
  /*flex-basis: 100%;*/
}

/** Footer **/

.theme > footer {
  color: white;
  padding: 1em;
  background-color: #282c34;
  clear: both;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.theme > footer a {
  color: #70adc1;
}


@media print {
  .theme > footer {
    /*display: none;*/
  }
}